@media screen and (min-width: 480px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  #bars {
    display: none;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #nav-bar > li {
    display: block;
    padding: 2%;
  }
}
