$tablet-width: 480px;
$desktop-width: 1000px;

$background: #fff;
$secondary-background: #c9c9c9;
$dark-background: #a3a3a3;
$light-accent: #6498d3;
$dark-accent: #1d5596;
$text: #08294f;
$shadow: #808080;

// $fontFamily: Tahoma, Geneva, sans-serif;
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

$heavy-border: 3px solid $text;
$light-border: 1px solid $text;

@mixin title-text {
  font: {
    family: $font-family;
    size: 2.25em;
  }
  color: $dark-accent;
  text-shadow: 1px 2px 4px $shadow;
  margin: auto;
}

@mixin secondary-title-text {
  font: {
    family: $font-family;
    size: 1.25em;
  }
  color: $dark-accent;
}

@mixin emphasis-text {
  font: {
    family: $font-family;
    size: 1em;
    style: italic;
  }
  color: $light-accent;
}

@mixin information-text {
  font: {
    family: $font-family;
    size: .75em;
    style: italic;
  }
  color: $text;
}

@mixin standard-text {
  font: {
    family: $font-family;
    size: 1em;
  }
  color: $text;
}
