$background: #FFFFFF;
$secondary-background: #C9C9C9;
$dark-background: #A3A3A3;
$light-accent: #6498D3;
$dark-accent: #1D5596;
$text: #08294F;

// $fontFamily: Tahoma, Geneva, sans-serif;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

@mixin title-text {
  font: {
    family: $fontFamily;
    size: 2.25em;
  }
  color: $dark-accent;
  text-shadow: 1px 2px 4px gray;
  margin: auto;
}

@mixin secondary-title-text {
  font: {
    family: $fontFamily;
    size: 1.25em;
  }
  color: $dark-accent;
}

@mixin emphasis-text {
  font: {
    family: $fontFamily;
    size: 0.75em;
    style: italic;
  }
  color: $light-accent;
}

@mixin standard-text {
  font: {
    family: $fontFamily;
    size: 1em;
  }
  color: $text;
}
