$background: #FFFFFF;
$secondary-background: #C9C9C9;
$light-accent: #6498D3;
$dark-accent: #1D5596;
$text: #08294F;

// $fontFamily: Tahoma, Geneva, sans-serif;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

@mixin title-text {
  font: {
    family: $fontFamily;
    size: 2.25em;
  }
  color: $dark-accent;
}

@mixin secondary-title-text {
  font: {
    family: $fontFamily;
    size: 1.25em;
  }
  color: $dark-accent;
}

@mixin standard-text {
  font: {
    family: $fontFamily;
    size: 1em;
  }
  color: $text;
}
