@import 'color_pallet';

header {
  background-color: $secondary-background;

  background-size: cover;
  margin-bottom: 20px;
}

.fa-bars {
  padding: 2%;
}

.fa-bars:active {
  animation: scale .25s linear 1;
  @keyframes scale { 50% { transform: scale(.9); } }
}

nav {
  align-items: flex-end;
  background-color: rgba($light-accent, .6);

  border-bottom: $heavy-border;
  border-top: $heavy-border;
  display: flex;
  flex-direction: column;
  min-height: 3em;
  width: 100%;

  ul {
    display: none;
    width: 100%;
  }

  li {
    background-color: lighten($light-accent, 20%);
    border-top: $heavy-border;
    color: $dark-accent;
    display: flex;
    text-shadow: 1px 2px 4px $shadow;

    &:not(.active-page):hover {
      background-color: $light-accent;
    }
  }

  a {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.active-page {
  background-color: $dark-background;

  ::before {
    color: $dark-accent;
    content: '>';
  }

  ::after {
    color: $dark-accent;
    content: '<';
  }

  a {
    opacity: .6;
  }
}
