@import 'color_pallet';

header {
  background-color: $secondary-background;
  background-size: cover;
  margin-bottom: 20px;
}

.fa-bars {
  padding: 2%;
}

.fa-bars:active {
  animation:spin .25s linear 1;
  @keyframes spin { 50% { transform:rotate(90deg); } }
}

nav {
  border-top: 3px solid $text;
  border-bottom: 3px solid $text;
  min-height: 3em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  ul {
    display: none;
    width: 100%;
    li {
      border-top: 3px solid $text;
      color: $dark-accent;
      display: flex;
      text-shadow: 1px 2px 4px gray;
      a {
        font-size: 1.25em;
        line-height: 1.5em;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }
      a:hover {
        background-color: $light-accent;
      }
    }
  }
}

.active_page {
  background-color: $dark-background;
  ::before {
    color: $dark-accent;
    content: ">";
  }
  a {
    opacity: .6;
  }
}
