@import 'color_pallet';

$tablet_width: 480px;
$desktop_width: 1000px;

@media screen and (min-width: $desktop_width) {
  #contact {
    width: 20%;
    li {
      width: auto;
      border-radius: 35px;
    }
  }

  // Hide the triple bars from the mobile view
  #bars {
    display: none;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    li {
      padding: 4px;
      border: none;
      border: 3px solid $text;
      border-radius: 35px;
      width: 7.5em;
      margin: auto 1em;
      a {
        margin: 0 auto;
        align-items: center;
      }
    }
  }

  // the filter box on the projects page
  #filter_prompt {
    display: block;
  }
  #filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter_cbx {
      width: auto;
    }
  }

  .projects {
    width: 95%;
    flex-flow: row;
    flex-wrap: wrap;
  }

  // set the margin on the project containers so they don't end up
  // mashed together in large screen views
  .project_container {
    margin: 1em 2em;
    &:hover {
      // save the on hover trick for the desktop site
      box-shadow: 1px 1px 10px grey;
      transform: translate(5px, 5px);
      transition-duration: .25s;
      transition-timing-function: ease-in-out;
    }
  }

  footer {
    line-height: 1.5em;
    text-align: right;
    font-size: 75%;
  }
}
