@import 'color_pallet';

@media screen and (min-width: $desktop-width) {
  .contact {
    width: 20%;

    li {
      border-radius: 35px;
      width: auto;
    }
  }

  // Hide the triple bars from the mobile view
  .fa-bars {
    display: none;
  }

  .nav-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4em;
    justify-content: flex-end;

    li {
      border: 3px solid $text;
      border-radius: 35px;
      margin: auto 1em;
      padding: 4px;
      width: 7.5em;

      a {
        align-items: center;
        margin: 0 auto;
      }
    }
  }

  // the filter box on the projects page
  .filter-prompt {
    display: block;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .filter-cbx {
      width: auto;
    }
  }

  .projects {
    flex-flow: row;
    flex-wrap: wrap;
    width: 95%;
  }

  // set the margin on the project containers so they don't end up
  // mashed together in large screen views
  .project-container {
    margin: 1em 2em;

    &:hover {
      // save the on hover trick for the desktop site
      box-shadow: 1px 1px 10px $shadow;
      transform: translate(5px, 5px);
      transition-duration: .25s;
      transition-timing-function: ease-in-out;
    }
  }

  footer {
    font-size: 75%;
    line-height: 1.5em;
    text-align: right;
  }
}
