@import 'color_pallet';

$tablet-width: 480px;
$desktop-width: 1000px;

// ---------- TABLET ONLY RULES ---------
@media screen and (min-width: $tablet_width) and (max-width: $desktop_width){
  .contact {
    li {
      border-radius: 50%;
      width: 2.5em;
    }

    span {
      display: none;
    }
  }

  .project-container {
    max-width: 80%;

    h3 {
      font-size: 115%;
    }

    p {
      font-size: 115%;
    }

    &:nth-child(even) {
      p {
        order: -1;
      }
    }
  }

  .projects {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

// ---------- INHERITABLE RULES ---------
@media screen and (min-width: $tablet_width) {
  // move the contact links to the upper left of the page
  .contact {
    background-color: transparent;
    bottom: initial;
    height: 4em;
    justify-content: flex-start;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 10em;

    ul {
      margin-top: .5em;
    }

    li {
      align-items: center;
      background-color: lighten($light-accent, 20%);
      border: $heavy-border;
      height: 2.5em;

      a {
        border: 0;
      }

      &:hover {
        background-color: $light-accent;
      }

      &:focus-within {
        background-color: $light-accent;
      }

      &:active {
        background-color: $background;
      }
    }

    a {
      display: block;
      margin: .25em;
    }
  }

  .project-container {
    .description {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      img {
        display: block;
      }

      p {
        font-size: 125%;
        margin: auto;
      }
    }
  }
}
