@import 'color_pallet';

.project {
  border-bottom: $heavy-border;
  margin: 3em auto;
  padding: 2%;
  width: 90%;

  p {
    padding-top: 1em;
  }
}

.image-container {
  display: none;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  margin: 1% auto;
  max-width: 750px;

  img {
    display: none;
    height: 100%;
    margin: auto;
    width: auto;
  }

  .caption {
    font-style: italic;
    text-align: center;
  }
}
