@import 'color_pallet';

.project {
  border-bottom: $heavy-border;
  margin: 3em auto;
  padding: 2%;
  width: 90%;
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 2%;

  img {
    width: 45%;
  }
}
