@import 'color_pallet';

.project {
  border-bottom: $heavy-border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  padding: 2%;
  width: 90%;

  h3 {
    font-size: 115%;
  }

  p {
    margin-top: 1em;
  }

  a {
    align-self: center;
    border: $light-border;
    border-radius: 10px;
    margin: .5em;
    padding: .25em;

    &:hover {
      background-color: $light-accent;
    }
  }
}

.image-container {
  display: none;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  margin: 2% auto;
  max-width: 750px;

  .info {
    text-align: center;
  }

  img {
    display: none;
    height: 100%;
    margin: auto;
    width: auto;
  }

  .caption {
    font-style: italic;
    text-align: center;
  }
}
