@import 'color_pallet';

.resume-section {
  margin: 1em auto;
  max-width: 750px;

  h2 {
    @include secondary-title-text;
    border-bottom: $light-border;
    text-align: center;
  }

  .resume-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .5em 0;

    h3 {
      @include secondary-title-text;
      font-size: 1em;
      font-style: italic;
      text-align: left;
    }

    .entry-title {
      align-content: space-between;
      display: flex;
      flex-direction: row;

    }

    .description {
      font-style: italic;
      margin-left: 0;
    }

    .date {
      margin-right: 0;
    }

    .list-title {
      margin: .5em 0;
    }
  }

  ul {
    margin-left: 3em;

    li {
      list-style: circle;
    }
  }
}
