@import 'color_pallet';
@import 'nav';
@import 'responsive';

* {
  color: $text;
  font-family: $fontFamily;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: $heavy-border;
}

h1 {
  @include title-text;
}

#title {
  border-bottom: $heavy-border;
  width: 95%;
  max-width: 450px;
  margin: 1em auto;
  text-align: center;
  .pre {
    font-size: 1.25em;
    font-style: italic;
    text-align: left;
  }
}

#portrait {
  display: block;
  width: 50%;
  max-width: 250px;
  margin: 10px auto;
  border-radius: 50%;
  border: $heavy-border;
}

.sub_title {
  text-align: center;
  font-size: 1.25em;
  color: $text;
  padding-bottom: .5em;
}

body {
  background-color: $background;
  margin-bottom: 6em;

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
    li {
      border-bottom: $light-border;
      margin: .25em 1em;
      font-style: italic;
    }
  }

  p {
    padding: 1em;
    max-width: 750px;
    margin: auto;
  }
}

#contact {
  background-color: $background;
  border-top: $heavy-border;
  padding: 1em 0;
  position: fixed;
  bottom: 3em;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      a:hover {
        border-top: $heavy-border;
        border-bottom: $heavy-border;
        border-radius: 5%;
      }
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $text;
  color: $secondary-background;
  text-align: center;
  line-height: 3em;
}
