a:hover {
  text-decoration: underline;
}

.bullet-list > li {
  list-style-type: circle;
}

.check-no::before {
  color: red;
  content: "\2716  ";
}

.check-yes::before {
  color: green;
  content: "\2714  ";
}

.suggestion-title {
  font-weight: bold;
}

.text-container {
  background-color: #c9c9c9;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 1em;
  width: 80%;
}

ul > p {
  margin: 1em 5%;
}
