
.container-title {
  background-color: $dark-background;
  border-bottom: $light-border;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 2%;

  .heading-text {
    margin-bottom: .5em;
  }
}

.container-content {
  margin: 3% 1%;

  h3 {
    @include standard-text;
  }

  p {
    white-space: pre-line;
  }
}
