* {
  margin: 0;
  padding: 0;
}

a {
  background-color: black;
  border-radius: 20px;
  display: block;
  color: #fff;
  font-size: 2em;
  margin: auto;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  width: 30%;
}

a:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 1s ease;
  transition: color 1s ease;
}
