

body {
	background:#f8f8f8;
}

header {
	background:#2081bf; 
	border-bottom:1px solid #ddd;
}

h2 {
	text-align:center;
	padding:10px;
}

h3 {
	color:#2081bf; 
	text-align:center;
}

.contentDivs {
	background:white; 
	margin:10px;
	border:1px solid #ddd;
}

.col-form-label {
	padding-right:0;
}

legend {
	text-align: center;
	padding-top:20px;
}

label {
	font-size:16px;
	padding-top:5px;
	text-align: right;
}

.form-group {
	margin:5px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px 0;
  border:1px solid #ddd;
  background:white;

}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: #2081bf;
  height:5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 10px;
  border: 1px solid #2081bf;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #2081bf;
  height:5px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 10px;
  border: 1px solid #2081bf;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  margin-top: -12px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


.applyButton {
	float:right;
	padding-right:30px;
	padding-left:30px;
	margin-top:40px;
	margin-bottom:20px;
}

footer {
	margin-top:100px;
}